services:
  db:
    image: postgres:15
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "127.0.0.1:6000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build: .
    container_name: blito-backend
    depends_on:
      - db
    env_file: .env
    ports:
      - "127.0.0.1:9000:8000"
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  postgres_data:
