services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: BlitoDB
    ports:
      - "6000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: blito-backend
    depends_on:
      - db
    environment:
      SECRET_KEY: your-secret-key
      DEBUG: False
    ports:
      - "8000:8000"

volumes:
  postgres_data:
